body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-fluid {
  background-color: green;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.container {
  background-color: orange;
  width: 750px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.titolo {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  border: 1px solid red;
}

.inserimenti {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
  border: 1px solid black;
  margin: 0 auto;
}

.procedi {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  border: 1px solid white;
}

.ticket {
  width: 80%;
  margin: 0 auto;
  border: 1px solid purple;
}

.grigio {
  display: inline-block;
}

.tabella {
  display: inline-block;
}
